
@{
    ViewData["Title"] = "MathCalculations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Mathletes2020.Areas.Multiplication.Models.Responses


<h1>MathCalculations</h1>

<label for="TotalScore">Total Score: @Model.TotalScore </label>





