
@{
    ViewData["Title"] = "Times10";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/MDStyle.css" rel="stylesheet" type="text/css" />

<hr />
<h2 class="heading-primary" style="text-align:center">10s Multiplication Tables</h2>

<div class="pageBackground" style="background-color:darkkhaki">
    <div class="row">
        <label>&nbsp;&nbsp;&nbsp;7<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;5<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;12<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;2<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;11<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;6<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;10<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;1<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;3<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;8<br /><u>x 10</u><br /><input /></label>
    </div><br />

    <div class="row">
        <label>&nbsp;&nbsp;&nbsp;9<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;4<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;7<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;3<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;11<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;2<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;10<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;8<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;1<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;5<br /><u>x 10</u><br /><input /></label>
    </div><br />

    <div class="row">
        <label>&nbsp;&nbsp;&nbsp;12<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;4<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;9<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;6<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;3<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;8<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;6<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;2<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;11<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;7<br /><u>x 10</u><br /><input /></label>
    </div><br />

    <div class="row">
        <label>&nbsp;&nbsp;&nbsp;9<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;4<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;1<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;12<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;5<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;10<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;1<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;4<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;7<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;3<br /><u>x 10</u><br /><input /></label>
    </div><br />

    <div class="row">
        <label>&nbsp;&nbsp;&nbsp;10<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;2<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;11<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;5<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;9<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;6<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;12<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;8<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;5<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;9<br /><u>x 10</u><br /><input /></label>
    </div><br />

    <div class="row">
        <label>&nbsp;&nbsp;&nbsp;4<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;12<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;3<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;8<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;2<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;7<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;6<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;11<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;10<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;1<br /><u>x 10</u><br /><input /></label>
    </div><br />

    <div class="row">
        <label>&nbsp;&nbsp;&nbsp;3<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;1<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;9<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;10<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;2<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;8<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;4<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;12<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;5<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;7<br /><u>x 10</u><br /><input /></label>
    </div><br />

    <div class="row">
        <label>&nbsp;&nbsp;&nbsp;11<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;6<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;3<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;12<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;4<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;11<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;5<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;1<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;10<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;2<br /><u>x 10</u><br /><input /></label>
    </div><br />

    <div class="row">
        <label>&nbsp;&nbsp;&nbsp;9<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;8<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;6<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;7<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;1<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;6<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;5<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;10<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;3<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;2<br /><u>x 10</u><br /><input /></label>
    </div><br />

    <div class="row">
        <label>&nbsp;&nbsp;&nbsp;11<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;4<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;12<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;7<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;8<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;9<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;10<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;9<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;8<br /><u>x 10</u><br /><input /></label>
        <label>&nbsp;&nbsp;&nbsp;7<br /><u>x 10</u><br /><input /></label>
    </div><br />

</div>



