
@{
    ViewData["Title"] = "Times5";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<hr />
<h2 class="heading-primary" style="text-align:center">5s Multiplication Tables</h2>

<div class="pageBackground" style="background-color:blueviolet">
    <div class="row">
        <label>&nbsp;&nbsp;&nbsp;7<br /><u>x 5</u><br /><input id="q1" /></label>
        <label>&nbsp;&nbsp;&nbsp;5<br /><u>x 5</u><br /><input id="q2" /></label>
        <label>&nbsp;&nbsp;&nbsp;12<br /><u>x 5</u><br /><input id="q3" /></label>
        <label>&nbsp;&nbsp;&nbsp;2<br /><u>x 5</u><br /><input id="q4" /></label>
        <label>&nbsp;&nbsp;&nbsp;11<br /><u>x 5</u><br /><input id="q5" /></label>
        <label>&nbsp;&nbsp;&nbsp;6<br /><u>x 5</u><br /><input id="q6" /></label>
        <label>&nbsp;&nbsp;&nbsp;10<br /><u>x 5</u><br /><input id="q7" /></label>
        <label>&nbsp;&nbsp;&nbsp;1<br /><u>x 5</u><br /><input id="q8" /></label>
        <label>&nbsp;&nbsp;&nbsp;3<br /><u>x 5</u><br /><input id="q9" /></label>
        <label>&nbsp;&nbsp;&nbsp;8<br /><u>x 5</u><br /><input id="q10" /></label>
    </div><br />

    <div class="row">
        <label>&nbsp;&nbsp;&nbsp;9<br /><u>x 5</u><br /><input id="q11" /></label>
        <label>&nbsp;&nbsp;&nbsp;4<br /><u>x 5</u><br /><input id="q12" /></label>
        <label>&nbsp;&nbsp;&nbsp;7<br /><u>x 5</u><br /><input id="q13" /></label>
        <label>&nbsp;&nbsp;&nbsp;3<br /><u>x 5</u><br /><input id="q14" /></label>
        <label>&nbsp;&nbsp;&nbsp;11<br /><u>x 5</u><br /><input id="q15" /></label>
        <label>&nbsp;&nbsp;&nbsp;2<br /><u>x 5</u><br /><input id="q16" /></label>
        <label>&nbsp;&nbsp;&nbsp;10<br /><u>x 5</u><br /><input id="q17" /></label>
        <label>&nbsp;&nbsp;&nbsp;8<br /><u>x 5</u><br /><input id="q18" /></label>
        <label>&nbsp;&nbsp;&nbsp;1<br /><u>x 5</u><br /><input id="q19" /></label>
        <label>&nbsp;&nbsp;&nbsp;5<br /><u>x 5</u><br /><input id="q20" /></label>
    </div><br />

    <div class="row">
        <label>&nbsp;&nbsp;&nbsp;12<br /><u>x 5</u><br /><input id="q21" /></label>
        <label>&nbsp;&nbsp;&nbsp;4<br /><u>x 5</u><br /><input id="q22" /></label>
        <label>&nbsp;&nbsp;&nbsp;9<br /><u>x 5</u><br /><input id="q23" /></label>
        <label>&nbsp;&nbsp;&nbsp;6<br /><u>x 5</u><br /><input id="q24" /></label>
        <label>&nbsp;&nbsp;&nbsp;3<br /><u>x 5</u><br /><input id="q25" /></label>
        <label>&nbsp;&nbsp;&nbsp;8<br /><u>x 5</u><br /><input id="q26" /></label>
        <label>&nbsp;&nbsp;&nbsp;6<br /><u>x 5</u><br /><input id="q27" /></label>
        <label>&nbsp;&nbsp;&nbsp;2<br /><u>x 5</u><br /><input id="q28" /></label>
        <label>&nbsp;&nbsp;&nbsp;11<br /><u>x 5</u><br /><input id="q29" /></label>
        <label>&nbsp;&nbsp;&nbsp;7<br /><u>x 5</u><br /><input id="q30" /></label>
    </div><br />

    <div class="row">
        <label>&nbsp;&nbsp;&nbsp;9<br /><u>x 5</u><br /><input id="q31" /></label>
        <label>&nbsp;&nbsp;&nbsp;4<br /><u>x 5</u><br /><input id="q32" /></label>
        <label>&nbsp;&nbsp;&nbsp;1<br /><u>x 5</u><br /><input id="q33" /></label>
        <label>&nbsp;&nbsp;&nbsp;12<br /><u>x 5</u><br /><input id="q34" /></label>
        <label>&nbsp;&nbsp;&nbsp;5<br /><u>x 5</u><br /><input id="q35" /></label>
        <label>&nbsp;&nbsp;&nbsp;10<br /><u>x 5</u><br /><input id="q36" /></label>
        <label>&nbsp;&nbsp;&nbsp;1<br /><u>x 5</u><br /><input id="q37" /></label>
        <label>&nbsp;&nbsp;&nbsp;4<br /><u>x 5</u><br /><input id="q38" /></label>
        <label>&nbsp;&nbsp;&nbsp;7<br /><u>x 5</u><br /><input id="q39" /></label>
        <label>&nbsp;&nbsp;&nbsp;3<br /><u>x 5</u><br /><input id="q40" /></label>
    </div><br />

    <div class="row">
        <label>&nbsp;&nbsp;&nbsp;10<br /><u>x 5</u><br /><input id="q41" /></label>
        <label>&nbsp;&nbsp;&nbsp;2<br /><u>x 5</u><br /><input id="q42" /></label>
        <label>&nbsp;&nbsp;&nbsp;11<br /><u>x 5</u><br /><input id="q43" /></label>
        <label>&nbsp;&nbsp;&nbsp;5<br /><u>x 5</u><br /><input id="q44" /></label>
        <label>&nbsp;&nbsp;&nbsp;9<br /><u>x 5</u><br /><input id="q45" /></label>
        <label>&nbsp;&nbsp;&nbsp;6<br /><u>x 5</u><br /><input id="q46" /></label>
        <label>&nbsp;&nbsp;&nbsp;12<br /><u>x 5</u><br /><input id="q47" /></label>
        <label>&nbsp;&nbsp;&nbsp;8<br /><u>x 5</u><br /><input id="q48" /></label>
        <label>&nbsp;&nbsp;&nbsp;5<br /><u>x 5</u><br /><input id="q49" /></label>
        <label>&nbsp;&nbsp;&nbsp;9<br /><u>x 5</u><br /><input id="q50" /></label>
    </div><br />

    <div class="row">
        <label>&nbsp;&nbsp;&nbsp;4<br /><u>x 5</u><br /><input id="q51" /></label>
        <label>&nbsp;&nbsp;&nbsp;12<br /><u>x 5</u><br /><input id="q52" /></label>
        <label>&nbsp;&nbsp;&nbsp;3<br /><u>x 5</u><br /><input id="q53" /></label>
        <label>&nbsp;&nbsp;&nbsp;8<br /><u>x 5</u><br /><input id="q54" /></label>
        <label>&nbsp;&nbsp;&nbsp;2<br /><u>x 5</u><br /><input id="q55" /></label>
        <label>&nbsp;&nbsp;&nbsp;7<br /><u>x 5</u><br /><input id="q56" /></label>
        <label>&nbsp;&nbsp;&nbsp;6<br /><u>x 5</u><br /><input id="q57" /></label>
        <label>&nbsp;&nbsp;&nbsp;11<br /><u>x 5</u><br /><input id="q58" /></label>
        <label>&nbsp;&nbsp;&nbsp;10<br /><u>x 5</u><br /><input id="q59" /></label>
        <label>&nbsp;&nbsp;&nbsp;1<br /><u>x 5</u><br /><input id="q60" /></label>
    </div><br />

    <div class="row">
        <label>&nbsp;&nbsp;&nbsp;3<br /><u>x 5</u><br /><input id="q61" /></label>
        <label>&nbsp;&nbsp;&nbsp;1<br /><u>x 5</u><br /><input id="q62" /></label>
        <label>&nbsp;&nbsp;&nbsp;9<br /><u>x 5</u><br /><input id="q63" /></label>
        <label>&nbsp;&nbsp;&nbsp;10<br /><u>x 5</u><br /><input id="q64" /></label>
        <label>&nbsp;&nbsp;&nbsp;2<br /><u>x 5</u><br /><input id="q65" /></label>
        <label>&nbsp;&nbsp;&nbsp;8<br /><u>x 5</u><br /><input id="q66" /></label>
        <label>&nbsp;&nbsp;&nbsp;4<br /><u>x 5</u><br /><input id="q67" /></label>
        <label>&nbsp;&nbsp;&nbsp;12<br /><u>x 5</u><br /><input id="q68" /></label>
        <label>&nbsp;&nbsp;&nbsp;5<br /><u>x 5</u><br /><input id="q69" /></label>
        <label>&nbsp;&nbsp;&nbsp;7<br /><u>x 5</u><br /><input id="q70" /></label>
    </div><br />

    <div class="row">
        <label>&nbsp;&nbsp;&nbsp;11<br /><u>x 5</u><br /><input id="q71" /></label>
        <label>&nbsp;&nbsp;&nbsp;6<br /><u>x 5</u><br /><input id="q72" /></label>
        <label>&nbsp;&nbsp;&nbsp;3<br /><u>x 5</u><br /><input id="q73" /></label>
        <label>&nbsp;&nbsp;&nbsp;12<br /><u>x 5</u><br /><input id="q74" /></label>
        <label>&nbsp;&nbsp;&nbsp;4<br /><u>x 5</u><br /><input id="q75" /></label>
        <label>&nbsp;&nbsp;&nbsp;11<br /><u>x 5</u><br /><input id="q76" /></label>
        <label>&nbsp;&nbsp;&nbsp;5<br /><u>x 5</u><br /><input id="q77" /></label>
        <label>&nbsp;&nbsp;&nbsp;1<br /><u>x 5</u><br /><input id="q78" /></label>
        <label>&nbsp;&nbsp;&nbsp;10<br /><u>x 5</u><br /><input id="q79" /></label>
        <label>&nbsp;&nbsp;&nbsp;2<br /><u>x 5</u><br /><input id="q80" /></label>
    </div><br />

    <div class="row">
        <label>&nbsp;&nbsp;&nbsp;9<br /><u>x 5</u><br /><input id="q81" /></label>
        <label>&nbsp;&nbsp;&nbsp;8<br /><u>x 5</u><br /><input id="q82" /></label>
        <label>&nbsp;&nbsp;&nbsp;6<br /><u>x 5</u><br /><input id="q83" /></label>
        <label>&nbsp;&nbsp;&nbsp;7<br /><u>x 5</u><br /><input id="q84" /></label>
        <label>&nbsp;&nbsp;&nbsp;1<br /><u>x 5</u><br /><input id="q85" /></label>
        <label>&nbsp;&nbsp;&nbsp;6<br /><u>x 5</u><br /><input id="q86" /></label>
        <label>&nbsp;&nbsp;&nbsp;5<br /><u>x 5</u><br /><input id="q87" /></label>
        <label>&nbsp;&nbsp;&nbsp;10<br /><u>x 5</u><br /><input id="q88" /></label>
        <label>&nbsp;&nbsp;&nbsp;3<br /><u>x 5</u><br /><input id="q89" /></label>
        <label>&nbsp;&nbsp;&nbsp;2<br /><u>x 5</u><br /><input id="q90" /></label>
    </div><br />

    <div class="row">
        <label>&nbsp;&nbsp;&nbsp;11<br /><u>x 5</u><br /><input id="q91" /></label>
        <label>&nbsp;&nbsp;&nbsp;4<br /><u>x 5</u><br /><input id="q92" /></label>
        <label>&nbsp;&nbsp;&nbsp;12<br /><u>x 5</u><br /><input id="q93" /></label>
        <label>&nbsp;&nbsp;&nbsp;7<br /><u>x 5</u><br /><input id="q94" /></label>
        <label>&nbsp;&nbsp;&nbsp;8<br /><u>x 5</u><br /><input id="q95" /></label>
        <label>&nbsp;&nbsp;&nbsp;9<br /><u>x 5</u><br /><input id="q96" /></label>
        <label>&nbsp;&nbsp;&nbsp;10<br /><u>x 5</u><br /><input id="q97" /></label>
        <label>&nbsp;&nbsp;&nbsp;9<br /><u>x 5</u><br /><input id="q98" /></label>
        <label>&nbsp;&nbsp;&nbsp;8<br /><u>x 5</u><br /><input id="q99" /></label>
        <label>&nbsp;&nbsp;&nbsp;7<br /><u>x 5</u><br /><input id="q100" /></label>
    </div><br />

</div>



